* {
    margin: 0;
}

html {
    background-color: aquamarine;
}


body {
    font-family: 'GlyphWorld AirLand';
    font-size: 7vw;
}


.wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    box-shadow: inset -1px 1px 38px 0px rgba(204,255,0,1);
    transition: all .4s ease-in;
}

input {
    width: 60vw;
    height: 6vw;
    font-size: 4vw;
    margin-right: 1vw;
}

#send-button {
    width: 10vw;
    font-size: 2vw;

}

#send-container {
display: flex;
flex-direction: row;
}


.wrapper > * {
    padding: 2vw;
}

.jump {
    transform: translateY(100px);
}

.skew {
    transform: skew(6deg);
}

.color {
    background: rgb(238,174,202);
}

.font-col {
    color: red;
    font-size: 4vw;
}

.myWords {
    color: white
}

.tracking {
    letter-spacing: 1vw;
}

/* .no {
    transform: translateX(50px);
} */

.scale {
    transform: scale(0.8);
}

.chat {
    animation: chat .7s ease 2 ;
}

@keyframes chat {
    0% {
        transform: rotateX(2deg) scale(0.6);
    } 50% {
        transform: rotateX(-3deg) scale(0.9);
    } 100% {
        transform: rotateX(7deg) scale(1.1);
    }
}

.wow {
    transform: rotateX(180deg) scale(0.2); 
}

.blur {
    filter: blur(6px);
}

.comma {
    transform: rotateY(45deg);
}

.smile {
    transform: rotateZ(-45deg) scaleX(0.3);
    
}

.nice {
    line-height: 30vw;
}

.no {
    /* filter: blur(6px); */
    animation: no .3s ease 2 ;
}

@keyframes no {
    0% {
        transform: translateX(-50px);
    } 50% {
        transform: translateX(+50px);
    } 100% {
        transform: translateX(-50px);
    }
}

.weird {
    filter: hue-rotate(90deg);
    filter: brightness(3);
}